@page "/InitDB"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using NOAM_ASISTENCIA.Shared
@inject IHttpClientFactory ClientFactory

@attribute [AllowAnonymous]

<h3>Inicialización de Base de Datos</h3>

@{
    if (string.IsNullOrEmpty(strRespuesta))
    {
        <span>Cargando...</span>
    }
    else
    {
        <span>@strRespuesta</span>
    }
}

@code {
    private string strRespuesta = null;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var client = ClientFactory.CreateClient("WebAPI.NoAuthenticationClient");
            var response = await client.GetAsync("api/InitDB");

            strRespuesta = await response.Content.ReadAsStringAsync();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            strRespuesta = exception.Message.ToString();

            exception.Redirect();
        }
    }
}
