@inherits LayoutComponentBase

<Div Class="page">
    <Container Class="container">
        <!-- ===================== Fila Externa ===================== -->
        <Row Class="row justify-content-center d-flex align-items-center min-vh-100">
            <Column ColumnSize="ColumnSize.Is8.OnWidescreen.Is9">
                <Card Border="Border.Is0" Shadow="Shadow.Large" Class="o-hidden border-0 shadow-lg">
                    <!-- ===================== Carta Centrada ===================== -->
                    <CardBody Padding="Padding.Is0">
                            <main>
                                <article class="content px-4">
                                    @Body
                                </article>
                            </main>
                    </CardBody>
                </Card>
            </Column>
        </Row>
    </Container>
</Div>
