@inherits LayoutComponentBase

<div class="page">
    <div class="container">
        <!-- ===================== Fila Externa ===================== -->
        <div class="row justify-content-center d-flex align-items-center min-vh-100">
            <div class="col-lg-8 col-md-9">
                <div class="card o-hidden border-0 shadow-lg">
                    <!-- ===================== Carta Centrada ===================== -->
                    <div class="card-body p-0">
                        <div class="row">
                            <main>
                                <article class="content px-4">
                                    @Body
                                </article>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
