@inherits LayoutComponentBase

<Container>
    <Layout>
        <LayoutContent>
            <Div Class="page">
                <!-- ===================== Fila Externa ===================== -->
                <Row Height="Height.Is100.Min.Viewport" Flex="Flex.JustifyContent.Center.AlignContent.Center">
                    <Column ColumnSize="ColumnSize.Is8.OnWidescreen.Is9" Border="Blazorise.Border.Is0.Rounded" Shadow="Shadow.Large">
                        <main>
                            <article class="content px-4">
                                <Row>
                                    <Column Padding="Padding.Is5.OnTablet.Is0.OnMobile.Is3.OnY.OnMobile">
                                        @Body
                                    </Column>
                                </Row>
                            </article>
                        </main>
                    </Column>
                </Row>
            </Div>
        </LayoutContent>
    </Layout>
</Container>