<AuthorizeView>
    <Authorized>
        <a href="account/profile/ejercicios">Ejercicios</a>
        <a href="account/logout">Cerrar Sesión</a>
    </Authorized>
    <NotAuthorized>
        <a href="account/register">Registrar</a>
        <a href="account/login">Iniciar Sesión</a>
    </NotAuthorized>
</AuthorizeView>
