<BarDropdownItem To="Empleados">
    <Div Style="float: left;">Personal</Div>
    <Icon Name="@("fa-truck")" Style="float: right; margin-right: 20px;" />
</BarDropdownItem>

<BarDropdownItem To="Usuarios">
    <Div Style="float: left;">Administradores</Div>
    <Icon Name="@("fa-user-tie")" Style="float: right; margin-right: 20px;" />
</BarDropdownItem>

<BarDropdownItem To="Departamentos">
    <Div Style="float: left;">Servicios</Div>
    <Icon Name="@("fa-hamburger")" Style="float: right; margin-right: 20px;" />
</BarDropdownItem>

<BarDropdownItem To="Reportes">
    <Div Style="float: left;">Reportes</Div>
    <Icon Name="@("fa-list-alt")" Style="float: right; margin-right: 20px;" />
</BarDropdownItem>