<BarDropdownItem To="/Inventario/1">
    <Div Style="float: left;">Inventario</Div>
    <Icon Name="@("fa-clipboard-list")" Style="float: right; margin-right: 20px;" />
</BarDropdownItem>
<BarDropdownItem To="/Inventario/2">
    <Div Style="float: left;">Entradas de Inventario</Div>
    <Icon Name="@("fa-clipboard-list")" Style="float: right; margin-right: 20px;" />
</BarDropdownItem>
<BarDropdownItem To="/Inventario/3">
    <Div Style="float: left;">Salidas de Inventario</Div>
    <Icon Name="@("fa-clipboard-list")" Style="float: right; margin-right: 20px;" />
</BarDropdownItem>