<BarDropdownDivider />

<BarItem>
    <BarLink To="turnos">
        <Div Style="float: left;">Turnos</Div>
        <BarIcon IconName="@("fa-clock")" Style="float: right; margin-right: 25px;" />
    </BarLink>
</BarItem>
