<BarDropdownDivider />

<BarItem>
    <BarLink To="asistencia/registrar">
        <Div Style="float: left;">Registrar asistencia</Div>
        <BarIcon IconName="@("fa-clipboard")" Style="float: right; margin-right: 25px;" />
    </BarLink>
</BarItem>
