<BarDropdownDivider />

<BarItem>
    <BarLink To="turnos">
        <Div Style="float: left;">Turnos</Div>
        <BarIcon IconName="@("fa-clock")" Style="float: right; margin-right: 25px;" />
    </BarLink>
</BarItem>

<BarItem>
    <BarLink To="sucursales">
        <Div Style="float: left;">Servicios</Div>
        <BarIcon IconName="@("fa-hands-wash")" Style="float: right; margin-right: 25px;" />
    </BarLink>
</BarItem>

<BarItem>
    <BarLink To="users">
        <Div Style="float: left;">Usuarios</Div>
        <BarIcon IconName="@("fa-user-circle")" Style="float: right; margin-right: 25px;" />
    </BarLink>
</BarItem>

<BarItem>
    <BarLink To="account/register">
        <Div Style="float: left;">Registrar Usuario</Div>
        <BarIcon IconName="@("fa-user")" Style="float: right; margin-right: 25px;" />
    </BarLink>
</BarItem>