<BarDropdownDivider />

<BarItem>
    <BarLink To="asistencia/reporte">
        <Div Style="float: left;">Asistencia</Div>
        <BarIcon IconName="@("fa-clipboard")" Style="float: right; margin-right: 25px;" />
    </BarLink>
</BarItem>