<BarDropdownDivider />

<BarItem>
    <BarLink To="asistencia/registrar">
        <Div Style="float: left;">Registrar asistencia</Div>
        <BarIcon IconName="@("fa-clipboard")" Style="float: right; margin-right: 25px;" />
    </BarLink>
</BarItem>

<BarItem>
    <BarLink To="asistencia/reporte/usuario">
        <Div Style="float: left;">Registros de asistencia</Div>
        <BarIcon IconName="@("fa-table-list")" Style="float: right; margin-right: 25px;" />
    </BarLink>
</BarItem>
