@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación de Registro";
}

<div class="col justify-content-center p-5">
    <div class="text-center">
        <h1 class="text-gray-900 mb-4">@ViewData["Title"]</h1>
    </div>

    <hr />

    <p class="text-center">
        Su cuenta ha sido registrada exitosamente, ahora debe esperar a que un 
        administrador la confirme.
    </p>

    <div class="text-center">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
            Volver a Inicio
        </a>
    </div>
</div>
