@page "/account/register/confirmedaccount/{UserId}/{Token}"
@layout AuthLayout
@inject IAccountService authService
@inject NavigationManager navigationManager

<PageTitle>Confirmación de cuenta</PageTitle>

<div class="col justify-content-center p-5">
    <div class="text-center">
        <h1 class="text-gray-900 mb-4">Confirmación de cuenta</h1>
    </div>

    <hr />

    @if (!Successful)
    {
        if (ShowErrors)
        {
            <div class="alert alert-danger" role="alert">
                @foreach (var error in Errors)
                {
                    <p class="mb-0">@error</p>
                }

                @if (IsTokenError)
                {
                    <p class="mb-0">Normalmente este error ocurre debido a que el token expiró. Puede intentar reenviar el correo de confirmación al correo con el que se registró su cuenta ('@UserEmail') dando clic en el siguiente enlace: <a class="text-black" href="/account/register/emailconfirmation/resend/@UserId">Reenviar correo de confirmación</a>.</p>
                }
            </div>
        }
        else
        {
            <p>Cargando...</p>
        }

    }
    else
    {
        <p>Su cuenta '@Username' ha sido confirmada de forma exitosa.</p>
        <p>Apartir de ahora ya puede iniciar sesión en nuestra aplicación.</p>
    }

    <hr />

    <div class="form-group text-center row mb-3">
        <div class="col-6">
            <a href="/account/login" class="btn btn-primary">Iniciar Sesión</a>
        </div>

        <div class="col-6">
            <a href="/" class="btn btn-primary">Volver a Inicio <i class="fa fa-home"></i></a>
        </div>

    </div>
</div>

@code {
    [Parameter]
    public string UserId { get; set; } = null!;
    [Parameter]
    public string Token { get; set; } = null!;

    private string Username = null!;
    private string UserEmail = null!;

    private bool Successful = false;
    private bool ShowErrors = false;
    private bool IsTokenError = false;
    private IEnumerable<string> Errors = null!;

    protected override async Task OnInitializedAsync()
    {
        CheckIfParametersAreNull();

        ConfirmEmailRequest model = new ConfirmEmailRequest() { Token = Token, UserId = UserId };
        ApiResponse result = await authService.ConfirmEmail(model);
        ConfirmEmailResult modelResult = (result.Result as ConfirmEmailResult)!;

        if (modelResult != null)
        {
            if (result.Successful)
            {
                UserEmail = modelResult.UserEmail;
                Username = modelResult.Username;
                Successful = true;
            }
            else
            {
                IsTokenError = modelResult.IsTokenError;
                UserEmail = modelResult.UserEmail;
                Username = modelResult.Username;
                Errors = result.ErrorMessages;
                ShowErrors = true;
                Successful = false;
            }
        }
        else
        {
            Errors = new List<string>() { "Error inesperado. Inténtelo de nuevo más tarde." };
            ShowErrors = true;
            Successful = false;
        }
    }

    private void CheckIfParametersAreNull()
    {
        if (string.IsNullOrEmpty(UserId) || string.IsNullOrEmpty(Token))
        {
            navigationManager.NavigateTo("/");
        }
    }
}
