@page "/account/register/emailconfirmation/{Username}/{UserEmail}/{ResendEmail}"
@layout AuthLayout
@inject NavigationManager navigationManager

<PageTitle>Confirme su cuenta</PageTitle>

<Row>
    <Column>
        <Div TextAlignment="TextAlignment.Center" Margin="Margin.Is3.FromBottom">
            <Heading Size="HeadingSize.Is4" TextColor="TextColor.Black50" Margin="Margin.Is4.FromBottom">Confirme su cuenta</Heading>
        </Div>

        <Divider />

        <Row>
            <Column Margin="Margin.Is3.FromBottom" TextAlignment="TextAlignment.Justified">
                <Paragraph>Su cuenta '@Username' ha sido registrada exitosamente.</Paragraph>
                <Paragraph>Un administrador debe aceptar este usuario para que pueda iniciar sesión, así que esté al pendiente.</Paragraph>
                <Paragraph>Puede cerrar esta ventana.</Paragraph>
            </Column>
        </Row>

        <Divider />

        <Row Margin="Margin.Is3.FromBottom" Flex="Flex.JustifyContent.Center">
            <Column ColumnSize="ColumnSize.Is6.OnTablet" Margin="Margin.Is3.FromBottom">
                <Button To="/" Type="ButtonType.Link" Color="Color.Primary" Width="Width.Is100">Volver a Inicio <Icon Name="@("fa-home")" /></Button>
            </Column>
        </Row>
    </Column>
</Row>

@code {
    [Parameter]
    public string Username { get; set; } = null!;
    [Parameter]
    public string UserEmail { get; set; } = null!;
    [Parameter]
    public string ResendEmail { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(Username) || string.IsNullOrEmpty(UserEmail))
        {
            navigationManager.NavigateTo("/");
        }
    }
}
