@using BlazorBarcodeScanner.ZXing.JS

<Row Flex="Flex.JustifyContent.Center">
    <Button Clicked="InitLectorQR" Color="Color.Primary">Iniciar Cámara <Icon Name="IconName.Camera" /></Button>
</Row>

<Row Visibility="_rowVisibility" Flex="Flex.JustifyContent.Center">
    <BarcodeReader @ref=_readerRef Title=""
                   StartCameraAutomatically="false"
                   OnBarcodeReceived="LocalReceivedBarcodeText"
                   ShowStart="false"
                   ShowReset="false"
                   ShowResult="false"
                   ShowToggleTorch="false"
                   ShowVideoDeviceList="true"
                   VideoWidth="400"
                   VideoHeight="400" />
</Row>

@code {
    [Parameter]
    public EventCallback<int> OnCodeReceived { get; set; }

    private BarcodeReader? _readerRef;
    private Visibility _rowVisibility = Visibility.Invisible;

    private void StartCamera() => _readerRef!.StartDecoding();
    private void StopCamera() => _readerRef!.StopDecoding();

    private void ShowLectorQR() => _rowVisibility = Visibility.Visible;
    private void HideLectorQR() => _rowVisibility = Visibility.Invisible;

    private void InitLectorQR()
    {
        StartCamera();
        ShowLectorQR();
    }

    private void StopLectorQR()
    {
        StopCamera();
        HideLectorQR();
    }

    private async void LocalReceivedBarcodeText(BarcodeReceivedEventArgs args)
    {
        StopLectorQR();

        // SE GUARDA EL CODIGO RECIBIDO PARA ENVIARLO
        int.TryParse(args.BarcodeText, out int codigoQR);

        // SE TRIGGEREA EL EVENTO PARA HACER LO DEMAS EN LA PAGINA
        await OnCodeReceived.InvokeAsync(codigoQR);
    }
}
